<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">

    <form id="addEventForm" th:action="@{/owner/addEvent}" method="post" enctype="multipart/form-data">
        <label>제목</label><input type="text" name="eventTitle"></br>
        <label>내용</label><textarea name="eventContent"></textarea></br>
        <label>이미지</label><input type="file" name="file"></br>
        <input type="button" value="등록" onclick="submitRestForm()">
        <input type="button" value="취소" th:onclick="|location.href='@{/owner/eventList}'|">
    </form>

    <script>
        function submitRestForm() {
            if(confirm("등록하시겠습니까?")) {
                let form = document.getElementById("addEventForm");
                form.submit();
            }
        }
    </script>
</th:block>
</html>