<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrang.net.nz/thymeleaf/layout" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>login</title>
<style>

</style>
</head>

<body>



<header>
    <nav id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">사원관리</a>
                <ul>
                    <li><a href="#">사원 목록</a></li>
                    <li><a href="#">사원 목록</a></li>
                </ul>
            </li>
            <li><a href="#">사원 권한관리</a></li>
        </ul>
    </nav>
</header>
[[${page}]]
~{/mypage/myrest::content}

[[${'mypage/'+{page}+'::content'}]]

<!--<div th:replace="${''+page+'-content::content'}">  여기에 content 들어갑니다  </div>-->
<!--<div th:replace="~{mypage/myrest::content}">  여기에 content 들어갑니다  </div>-->
<!--<div th:replace="~{mypage/${page}::content}" >  여기에 content 들어갑니다  </div>-->
<!--<div th:replace="~{'mypage/'+{page}+'::content'}">  여기에 content 들어갑니다  </div>-->
<!--<div th:include="${'' + page + ':: content'}"></div>-->

<div th:switch="${page}">
    <p th:case="'myrest'">1111111 </p>
    <p th:case="'mytest'"> 222222 </p>
    <p th:case="*"> 33333 </p>
</div>

<th:block th:switch="${page}">
    <th:block th:case="'myrest'"> <th:block  th:replace="~{mypage/myrest::content}"></th:block></th:block>
    <th:block th:case="'mytest'"> <th:block th:replace="~{mypage/mytest::content}"></th:block></th:block>
    <th:block th:case="*"> <th:block th:replace="~{mypage/myuser::content}"> </th:block></th:block>
</th:block>


<div ath:replace="${page2}">
    여기에 content 들어갑니다
</div>



[[${#strings.concat('~{mypage/', page, '::content}')}]]
<!--<div th:insert="~{mypage/${page}::content}"></div>-->
<!--<div th:include="${#strings.concat('~{mypage/', page, '::content}')}"></div>-->

<hr>
<th:block th:replace="mypage/mytest::content"></th:block>

<th:block th:replace="${page}::content"></th:block>



</body>
</html>