<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/css/myPage.css}" rel="stylesheet">
</head>
<body>

<!--<header th:replace="~{/include/myPage_header::headerFragment}">-->
<!--    header 자리-->
<!--</header>-->
<div>
    <div id="main-container">
        <div id="content-container">
            <th:block layout:fragment="content">
                몸통
            </th:block>
            <footer th:replace="~{/myPage/myPage_footer::footerFragment}">
                footer 자리
            </footer>
        </div>
    </div>
</div>

</body>
</html>