<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrang.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <script></script>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<div th:fragment="contentFragment">
    <div class="footer_height">

        <div id="center_box">
            <div id="topDiv">

                <H2>공지사항</H2>

        <ul style="margin-top: 20px">
            <li th:each="NList: ${NList}">

                <p th:text="${NList.subject}"></p>

            </li>

        </ul>


            </div>
            <div id="random_box">

                <h2>추천 식당</h2><br><br><br>

                <h2 id="clickText">click!</h2>
                <p id="restName" th:text="${randomData.restName}" style="display:none;"></p>
            </div>


            <div id="new_box">
                <H2>*이벤트*</H2>

                <!--                <div class="slideshow-container1">-->
                <!--                    <div class="Slidesbackground1">-->
                <!--                        <div th:each="dinning : ${dinning}" class="mySlides fade">-->
                <!--                            <img th:src="'data:image/png;base64,' + ${dinning.base64Image}" alt="Image"/>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <ul th:each="EList:${EList}">
                    <li th:text="${EList.eventTitle}">



                    </li>

                </ul>



            <div id="new_event_box">
                <h2>새로운 이벤트</h2>
                <div class="event_slide_box">
                    <th:block th:each="event : ${eventList}">
                        <a th:href="@{/detail?restNo={restNo}(restNo=${event.getRestNo().getRestNo()})}">
                            <div  class="mySlides fade">
                                <img th:src="'data:image/png;base64,' + ${event.getBase64Image()}" alt="Image"/>
                                <span>[[${event.getRestNo().getRestName()}]]<[[${event.getEventTitle()}]]></span>
                            </div>
                        </a>

                    </th:block>
                </div>
            </div>
        </div>
        <hr>

        <div class="slideshow">
            <div class="background">
                <div th:replace="~{/include/detail_review_template::detailReviewTemplate(${revList1})}"></div>
            </div>
        </div>

        <div class="slideshow">
            <div class="background">
                <div th:replace="~{/include/detail_review_template::detailReviewTemplate(${revList2})}"></div>
            </div>
        </div>

        <div class="slideshow">
            <div class="background">
                <div th:replace="~{/include/detail_review_template::detailReviewTemplate(${revList3})}"></div>
            </div>
        </div>



        추천(슬라이드 형식)<br> 가게예약, 좋아요 많은 순<br>
        전체 가게 중에서 예약이 많고, 좋아요를 많이 받은 순(10개 정도)<br>
        가게 클릭 시 해당 가게 상세보기 페이지로 전환<br>
        이전, 다음 버튼 필요함


    </div>


</div>


</body>
</html>




