<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 100;" id="top">
<!--    <script th:inline="javascript">-->
<!--        function sendSearchQuery() {-->
<!--            const keyword = document.getElementById('searchBar').value;-->
<!--            const resultList = document.getElementById('resultList1');-->

<!--            const xhr = new XMLHttpRequest();-->
<!--            xhr.open('GET', '/find_rest_name_x?keyword=' + encodeURIComponent(keyword), true);-->

<!--            xhr.onreadystatechange = function () {-->
<!--                if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--                    // resultList.remove()-->
<!--                    let result = JSON.parse(xhr.responseText);-->
<!--                    let li="";-->
<!--                    // console.log(result)-->
<!--                    resultList.innerHTML = "";-->
<!--                    result.forEach(function (item) {-->
<!--                        li = document.createElement('li');-->
<!--                        li.textContent = item.restName-->
<!--                        console.log(item.restName)-->
<!--                    });-->
<!--                    resultList.appendChild(li)-->

<!--                } else {-->

<!--                    // console.error(xhr.responseText)-->

<!--                }-->
<!--            };-->
<!--            xhr.send();-->
<!--        }-->
<!--    </script>-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Logo</a>

            <form th:action="@{/find_rest_name}" method="get">
                <input id="searchBar" type="search" placeholder="음식 또는 식당명 입력" aria-label="Search" name="keyword" th:value="${param.keyword}">
            </form>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">가게관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/my_page">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">관리자페이지</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</html>


