/** {*/
/*    border: solid 1px black;*/
/*}*/

#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#searchBar {
    height: 40px;
    margin-left: 30%;
    width: 500px;
    border-radius: 10px;
}

.f {
    position: relative;
    transform: translateY(0%);
}

#main {

    width: 100%;
}

#left {
    width: 25%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

#right {
    width: 75%;
    height: auto;
    float: right;
    box-sizing: border-box;
    /*overflow:auto;*/

}


#main-box{
    width: 1000px;
    justify-content: space-around; /* 요소들을 가운데 정렬하여 공간을 동일하게 분배 */
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* 그림자 속성 */
    margin-top: 50px;
}

#content-box {
    height: 300px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-around; /* 요소들을 가운데 정렬하여 공간을 동일하게 분배 */
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
    border-radius: 20px;
}

/* 스타일은 이 곳에 추가하세요 */
.w3-sidebar {
    width: 250px; /* 사이드바 너비 */
    background-color: #333;
    color: #FFF;
    height: 100vh; /* viewport 높이의 100% */
    overflow-y: auto; /* 너무 긴 경우 스크롤 허용 */
}

/* 화면이 768px 이하일 때 */
@media screen and (max-width: 768px) {
    .w3-sidebar {
        width: 100%; /* 전체 너비로 변경 */
    }
}
/*table#dinningTable {*/
/*    width: 130px;*/
/*}*/
/*table#dinningTable th:nth-of-type(3){*/
/*    width:380px;*/
/*}*/
/*table#dinningTable th:nth-of-type(4){*/
/*    width:200px;*/
/*}*/

/*canvas {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/
