<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--<link rel="stylesheet" href="../../static/css/main.css">-->
<div th:fragment="managerContent">
    <div id="right">

        <div>
            <a href="managerPage_QA">
                <ion-icon id="alarm" name="mail-unread-outline"></ion-icon>
                <span th:text="'남은 문의 : ' + ${qa.size()}"></span>
            </a>
        </div>

        <div id="main-box">
            <div style="border-bottom: solid 1px black">
                <h2 th:text="'회원 현황 : ' + ${uList.size()} +' 명'"></h2>
            </div>

            <div id="content-box">
                <div style="width: 200px; height: 200px; display: flex">
                    <canvas id="userChart" style="width: 200px; height:200px "></canvas>
                </div>
                <div style="width: 200px; height: 200px; display: flex">
                    <canvas id="userBarChart" style=" width:200px; height:200px "></canvas>
                </div>
            </div>
        </div>


        <div id="main-box2">
            <div style="border-bottom: solid 1px black">
                <h2 th:text="'가게 현황 : ' + ${dList.size()} + ' 개'"></h2>
            </div>
            <div id="content-box2">
                <div style="width: 200px; height: 200px; display:flex;">
                    <canvas id="dinningChart" style=" width:200px; height:200px "></canvas>
                </div>
                <div style="width: 200px; height: 200px; display:flex;">
                    <canvas id="dinningBarChart" style=" width:200px; height:200px "></canvas>
                </div>
            </div>


        </div>
    </div>
</div>

</html>