<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="managerSide">
    <div id="left">
        <div class="w3-sidebar w3-bar-block">

            <div class="w3-dropdown-hover">
                <button class="w3-button">고객 <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button">고객 관리</a>
                </div>
            </div>
            <hr>
            <div class="w3-dropdown-hover">
                <button class="w3-button">점주 <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button">점주 관리</a>
                    <a href="#" class="w3-bar-item w3-button">가게 관리</a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>