<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="managerContent">
    <div id="right" style="margin-right: 100px">


        <h2>문의 페이지 </h2>
        <table class="table table-bordered table-hover" style="text-align: center;">

        <tr>
                <td>qaNo</td>
                <td>title</td>
                <td>id</td>
                <td>작성 시간</td>
                <td>status</td>
                <td></td>
            </tr>

            <tr th:each="qa : ${qa}">
                <td th:text="${qa.id}"></td>
                <td th:text="${qa.qaTitle}"></td>
                <td th:text="${qa.userNo.userId}"></td>
                <td th:text="${qa.qaWriteTime}"></td>
                <td th:text="${qa.qaStatus}"></td>
                <td>
                    <button style="background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;" th:attr="onclick='redirectToQA(\'' + ${qa.id} + '\')'">문의 답변</button>
                </td>
            </tr>

        </table>
    </div>
</div>


</html>