<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="managerContent">
    <style>
        /**{*/
        /*    border: solid 1px blue;*/
        /*}*/
    </style>
    <div id="right" style="margin-right: 100px">

        <h2>점주 추가</h2>

        <div class="formDiv">
        <form action="/manager/managerPage_JAdd" method="post" enctype="multipart/form-data">
            <div>
                <p><label>이미지 : </label><input type="text" name="userImg"></p><br>
                <p><input type="file" name="file"></p><br>
            </div>

            <p><label>이름 : </label><input type="text" name="userName"></p><br>
            <p><label>ID : </label><input type="text" name="userId"></p><br>
            <p><label>비밀번호 : </label><input type="text" name="userPassword"></p><br>
            <p><label>이메일 : </label><input type="text" name="userEmail"></p><br>
            <p><label>전화번호 : </label><input type="text" name="userTel"></p><br>
            <p><input type="hidden" name="userAuth" value="2"></p></label>

            <input type="submit" class="fifth" value="등록">
        </form>
        </div>
    </div>
</div>
</html>