<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>블랙리스트 목록</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<div th:fragment="managerContent">
    <div id="right3" style="margin-right: 100px">

        <h1 style="margin-top: 100px">블랙 리스트 목록</h1>
        <hr>

        <input type="text" id="searchInput5" placeholder="블랙리스트 이름으로 검색" onchange="searchDinning5()">
        <button onclick="searchDinning5()">검색</button>

        <table id="blackTable" style="text-align: center;">
            <thead>
            <tr>
                <th>no</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userNo}">Name</td>
                <td th:text="${user.userId}">ID</td>
                <td th:text="${user.userName}">Name</td>
                <td th:text="${user.userEmail}">Name</td>
                <td th:text="${user.userTel}">Name</td>
                <!--                <td th:text="${user.userStartDate}">Name</td>-->
                <td>
                    <form id="blackForm" action="managerPage_UBlack" method="get">
                        <input type="hidden" name="userNo" th:value="${user.userNo}"></input>
                        <input type="hidden" name="confirm" value="false"></input>
                        <button type="button" onclick="confirmBlack(this)" style="background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;">블랙버튼
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>

        function confirmBlack(my) {
            swal({
                title: "블랙리스트를 해제 하시겠습니까?",
                text: "해제 하시려면 OK를 누르세요.",
                icon: "info",
                buttons: true,
                dangerMode: false,
            })
                .then((willUnblack) => {
                    if (willUnblack) {
                        swal("Success!", "해제되었습니다.", "success")
                            .then(() => {
                                let form = document.getElementById("blackForm");
                                let confirmInput = my.parentNode.querySelector("input[name=confirm]");
                                confirmInput.value = true;
                                form.submit();
                            });
                    } else {
                        // swal("Cancelled", "취소되었습니다.", "info");
                        swal("블랙리스트 해제가 취소 되었습니다.")
                    }
                });
        }


    </script>
</div>
</html>
