<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="managerContent">
    <div id="right" style="margin-right: 100px">

        <h1>고객 추가</h1>

        <form action="/manager/managerPage_UAdd" method="post" enctype="multipart/form-data">
            <label>이름 : <input type="text" name="userName" id="userName"></label><br>
            <label>ID : <input type="text" name="userId" id="userId"></label><br>
            <label>비밀번호 : <input type="text" name="userPassword" id="userPassword"></label><br>
            <label>이메일 : <input type="text" name="userEmail" id="userEmail"> </label><br>
            <label>전화번호 : <input type="text" name="userTel" id="userTel"></label><br>
            <label>권한 : <select name="userAuth" id="userAuth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></label><br>
            <label>이미지 : <input type="text" name="userImg" id="userImg"></label><br>
            <input type="file" name="file" id="file"><br>
            <button type="submit">등록</button>
        </form>
    </div>
</div>
</html>