<!--<!DOCTYPE html>-->
<!--<html-->
<!--        xmlns:th="http://www.thymeleaf.org/"-->
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<div th:fragment="managerContent">-->
<!--    <div id="right">-->

<!--        <h2>가게 관리 메인 페이지</h2>-->
<!--        검색 기능과 페이징 처리 반드시 필요-->

<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>가게 번호</th>-->
<!--                <th>가게 이름</th>-->
<!--                <th>가게 주소</th>-->
<!--                <th>가게 전화번호</th>-->
<!--                <th>가게 좌석 수</th>-->
<!--                <th>가게 운영 시간</th>-->
<!--                <th>가게 휴일 일정</th>-->
<!--                <th>가게 주차장 유무</th>-->
<!--                <th>가게 메뉴</th>-->
<!--                <th>가게 메뉴 유형</th>-->
<!--                <th>가게 위도</th>-->
<!--                <th>가게 경도</th>-->
<!--                <th>가게 사진</th>-->
<!--                <th>가게 평점</th>-->
<!--                <th>가게 소개글</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="dinning : ${dinningList}"-->
<!--                th:onclick="'javascript:redirectToJumrestDetail(\'' + ${dinning.restNo} + '\')'">-->
<!--                <td th:text="${dinning.restNo}"></td>-->
<!--                <td th:text="${dinning.restName}"></td>-->
<!--                <td th:text="${dinning.restAddr}"></td>-->
<!--                <td th:text="${dinning.restTel}"></td>-->
<!--                <td th:text="${dinning.restSeat}"></td>-->
<!--                <td th:text="${dinning.restTime}"></td>-->
<!--                <td th:text="${dinning.restOffDays}"></td>-->
<!--                <td th:text="${dinning.restParking}"></td>-->
<!--                <td th:text="${dinning.restMenu}"></td>-->
<!--                <td th:text="${dinning.restCategory}"></td>-->
<!--                <td th:text="${dinning.restLatitude}"></td>-->
<!--                <td th:text="${dinning.restLongitude}"></td>-->
<!--                <td th:text="${dinning.restImg}"></td>-->
<!--                <td th:text="${dinning.restScore}"></td>-->
<!--                <td th:text="${dinning.restDescription}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->


<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>가게 관리 메인 페이지</title>
</head>
<body>
<div th:fragment="managerContent">
    <div id="right">
        <h2>가게 관리 메인 페이지</h2>
        <input type="text" id="searchInput" placeholder="가게 이름으로 검색...">
        <button onclick="search()">검색</button>
        <table id="dinningTable">
            <thead>
            <tr>
                <th>가게 번호</th>
                <th>가게 이름</th>
                <th>가게 주소</th>
                <th>가게 전화번호</th>
                <th>가게 좌석 수</th>
                <th>가게 운영 시간</th>
                <th>가게 휴일 일정</th>
                <th>가게 주차장 유무</th>
                <th>가게 메뉴</th>
                <th>가게 메뉴 유형</th>
                <th>가게 위도</th>
                <th>가게 경도</th>
                <th>가게 사진</th>
                <th>가게 평점</th>
                <th>가게 소개글</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dinning : ${dinningList}"
                th:onclick="'javascript:redirectToJumrestDetail(\'' + ${dinning.restNo} + '\')'">
                <td th:text="${dinning.restNo}"></td>
                <td th:text="${dinning.restName}"></td>
                <td th:text="${dinning.restAddr}"></td>
                <td th:text="${dinning.restTel}"></td>
                <td th:text="${dinning.restSeat}"></td>
                <td th:text="${dinning.restTime}"></td>
                <td th:text="${dinning.restOffDays}"></td>
                <td th:text="${dinning.restParking}"></td>
                <td th:text="${dinning.restMenu}"></td>
                <td th:text="${dinning.restCategory}"></td>
                <td th:text="${dinning.restLatitude}"></td>
                <td th:text="${dinning.restLongitude}"></td>
                <td th:text="${dinning.restImg}"></td>
                <td th:text="${dinning.restScore}"></td>
                <td th:text="${dinning.restDescription}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

