<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="managerContent">
    <div id="right" style="margin-right: 100px">

        <h1>블랙 리스트 목록</h1>
        <hr>

        <table class="table table-bordered table-hover" style="text-align: center;">

            <tr>
                <th>no</th>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th></th>

            </tr>

            <tr th:each="user : ${users}">
                <td th:text="${user.userNo}">Name</td>
                <td th:text="${user.userId}">ID</td>
                <td th:text="${user.userName}">Name</td>
                <td th:text="${user.userEmail}">Name</td>
                <td th:text="${user.userTel}">Name</td>
                <!--                <td th:text="${user.userStartDate}">Name</td>-->
                <td>
                    <form action="managerPage_UBlack" method="get">
                        <input type="hidden" name="userNo" th:value="${user.userNo}"></input>
                        <input type="hidden" name="confirm" value="false"></input>
                        <button type="submit" onclick="confirmBlack(this)" style="background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;">블랙버튼
                        </button>

                    </form>

                </td>
            </tr>

        </table>


    </div>
</div>


</html>