div.formDiv {
    width: 600px;
    margin: 0 auto;
}
label {
    display: inline-block;
}
div.formDiv label {
    width:20%;
    height:34px;
}
div.formDiv label::after {
    /*content:":";*/
}
div.formDiv label + input {
    width:70%;
    border:none;
    border-bottom: 1px solid gray;
}