* {
    /*border: solid 1px blue;*/
}



#top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#searchBar{
    height: 40px;
    /*margin-left: 30%;*/
    width: 500px;
    border-radius: 10px;
}
#navbarNav{
    width: 400px;
    justify-content: flex-end;
}
#navbarNav button {
    background: transparent;
    box-shadow: none;
    text-transform: none;
    border: none;
}
#navbarNav .dropmenu {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transform: scale(1);
    transform-origin: top left;
    opacity: 0;
    overflow: auto;
    will-change: transform,opacity;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    transform-origin-left: top left;
    transform-origin-right: top right;
    padding: 10px 10px 0px 0px;
    border-radius: 10px;
    z-index: 1;
}
#navbarNav .dropmenu.visible {
    display: inline-block;
    transform: scale(1);
    opacity: 1;
}
#navbarNav .dropmenu ul, #navbarNav .dropmenu li  {
    list-style-type: none;
}
#navbarNav .dropmenu li:hover {
    background-color: #ffd9885c;
}


.f {
    position: relative;
    transform: translateY(0%);
}


.c, .footer_height {
    /*height: 100vw;*/
    background-color: #f0f0f0;
}
#new_box div:nth-child(2){
    position: absolute;
    top: 100px;
}
#new_box img {
    width:258px;
}

#wrap {
    height: 500px;
    /*background-color: silver;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px;

}

.d1 {
    width: 350px;
    height: 330px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

#center_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*margin-top: 50px;*/
    margin-left: 100px;
    margin-right: 100px;
    /*display: none;*/
}

#topDiv{
    height: 270px;
    background: white;

    /*flex-basis: 100px;*/
}

#topDiv h2{
    text-align: center;

}



#topDiv ul{
    text-align: left;

    list-style: square;
}




#random_box{
    height: 270px;
    background-color: orange;
    /*float: 1;*/
    text-align: center;

}

#new_box{
    height: 270px;
    background-color: yellow;
    /*flex-basis: 150px;*/
    text-align: center;
}

#subject1 {
    margin-left: 100px;
    margin-right: 100px;
}

#previous_button{
    margin-left: 20px;
}

#next_button{
    margin-right: 20px;
}

/*!* 이미지 슬라이드를 감싸는 div의 스타일 *!*/
/*#wrap {*/
/*    width: 100%; !* 슬라이드 전체 너비 *!*/
/*    overflow: hidden; !* 넘치는 이미지 숨김 *!*/
/*}*/

/*!* 각 이미지 슬라이드의 스타일 *!*/
/*.d1 {*/
/*    display: none; !* 기본적으로 숨김 *!*/
/*    width: 100%; !* 이미지의 너비 *!*/
/*}*/


/*slide*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    border-radius:3%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    border-radius:3%;
    /*width: 600px;*/
    /*height: 350px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*home (인덱스)*/
.reviewT img{
    width:238px;
    height:238px;
    border-radius:14px
}

.slideshow {
    width: 1008px;
    height: 300px;
    overflow-x: hidden;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
    margin: 32px auto;
    padding: 20px 0px;
}
.slideshow .reviewT {
    margin: 0px 7px;
    position: relative;
}
.slideshow .background {
    display: flex;
    /*transition: transform 0.5s ease;*/
}
.slideshow div.reviewT {
    display: inline-block;
}
.slideshow span, .slideshow p{
    display: none;
}
.slideshow p:nth-of-type(2) {
    display: block;
    position: absolute;
    top: 209px;
    left: 199px;

    padding: 2px 11px 5px 10px;
    border-radius: 20px 0px 14px;
    background: rgba(0, 0, 0, 0.44);
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
}
.slideshow p:nth-of-type(3) {
    width:100%;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 243px;
    left: 0px;
}
.bRrzOM {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 20;
    opacity: 1;
    transition: all 0.2s ease 0s;
    width: 238px;
    padding: 14px 17px 14px 14px;
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 0px 30px 12px 12px;
}

.line1 {
    border-radius: 1px;
    background-color: rgb(234, 234, 234);
}

.line2 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(157 72 72);
}
.hraekA:hover {
    background-color: rgb(25, 183, 194);
    font-weight: 500;
}
.hraekA:hover .Read__More__Text {
    color: rgb(255, 255, 255);
}
.hraekA .Read__More__Text {
    min-height: 20px;
    font-size: 0.875rem;
    letter-spacing: -0.0437rem;
    color: rgb(80, 80, 80);
    transition: all 0.2s ease-in-out 0s;
}
.ixuUGo {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
}
.MymCy {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4.1px;
    transition: all 0.5s ease-in-out 0s;
    padding: 2px 11px 5px 10px;
    border-radius: 20px 0px 14px;
    background: rgba(0, 0, 0, 0.44);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.0563rem;
    color: rgb(255, 255, 255);
}
