* {
    /*border: solid 1px blue;*/
}

#top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#searchBar{
    height: 40px;
    margin-left: 30%;
    width: 500px;
    border-radius: 10px;
}

.f {
    position: relative;
    transform: translateY(0%);
}


.c, .footer_height {
    /*height: 100vw;*/
}
#new_box div:nth-child(2){
    position: absolute;
    top: 100px;
}
#new_box img {
    width:258px;
}

#wrap {
    height: 500px;
    /*background-color: silver;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px;

}

.d1 {
    width: 350px;
    height: 330px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

#center_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*margin-top: 50px;*/
    margin-left: 100px;
    margin-right: 100px;

}

#topDiv{
    height: 270px;
    background: red;
    text-align: center;
    /*flex-basis: 100px;*/
}

#random_box{
    height: 270px;
    background-color: orange;
    /*float: 1;*/
    text-align: center;

}

#new_box{
    height: 270px;
    background-color: yellow;
    /*flex-basis: 150px;*/
    text-align: center;
}

#subject1 {
    margin-left: 100px;
    margin-right: 100px;
}

#previous_button{
    margin-left: 20px;
}

#next_button{
    margin-right: 20px;
}

/*!* 이미지 슬라이드를 감싸는 div의 스타일 *!*/
/*#wrap {*/
/*    width: 100%; !* 슬라이드 전체 너비 *!*/
/*    overflow: hidden; !* 넘치는 이미지 숨김 *!*/
/*}*/

/*!* 각 이미지 슬라이드의 스타일 *!*/
/*.d1 {*/
/*    display: none; !* 기본적으로 숨김 *!*/
/*    width: 100%; !* 이미지의 너비 *!*/
/*}*/


/*slide*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    border-radius:3%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    border-radius:3%;
    /*width: 600px;*/
    /*height: 350px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*home (인덱스)*/
.reviewT img{
    width:238px;
    height:238px;
}

.slideshow {
    width: 1190px;
    margin: 0 auto;
    overflow-x: hidden;
}
.slideshow .background {
    display: flex;
    /*transition: transform 0.5s ease;*/
}
.slideshow div.reviewT {
    display: inline-block;
}
.slideshow span, .slideshow p{
    display: none;
}
.slideshow p:nth-child(3){
    display: block;
}







