<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{userPage/Layout_userPage2}">

<th:block th:fragment="content">

    <style>

    </style>

    <div style="display: flex;justify-content: center">
        <div class="formDiv">
            <h1>답변 내용</h1>
            <form>
                <label>문의 번호:</label>
                <input type="text" th:value="${QA.get().getId()}" readonly/><br>
                <label>제목:</label>
                <input type="text" th:value="${QA.get().getQaTitle()}" readonly/><br>
                <label>내용:</label>
                <input type="text" size="50px" th:value="${QA.get().getQaContent()}" readonly/><br>


                <label>답변 내용:</label>
                <div style="width: 461px; height: 190px; border: 1px solid gray">
                    <span th:if="${QaAnswer != null}" th:text="${QaAnswer.getAnswerContent()}"></span>
                    <span th:unless="${QaAnswer != null}">답변이 등록되지 않았습니다.</span>
                </div><br>

            </form>
        </div>
    </div>
</th:block>
</html>



