<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{userPage/Layout_userPage}">

<th:block th:fragment="content">

    <h1>My 리뷰</h1>

    <table>
        <thead>
        <tr>
            <th>회원번호</th>    
            <th>식당이름</th>
            <th>평점</th>
            <th>후기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reviews : ${review}">
            <td th:text="${reviews.getUserNo().getUserNo()}"></td>
            <td th:text="${reviews.getRestNo().getRestName()}"></td>
            <td th:text="${reviews.getRevScore()}"></td>
            <td th:text="${reviews.getRevContent()}"></td>
        </tr>
        </tbody>
    </table>

</th:block>
</html>