<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>My 문의</h1>
<a th:href="@{/user/user_qa_form/{userNo}(userNo=${Num})}">문의 추가</a>

<div>
    <table>
        <thead>
        <tr>
            <th>회원이름</th>
            <th>제목</th>
            <th>내용</th>
            <th>문의 날짜</th>
            <th>문의 처리 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="QAs : ${QA}">
            <td th:text="${QAs.getUserNo().userName}"></td>
            <td th:text="${QAs.getQaTitle()}"></td>
            <td th:text="${QAs.getQaContent()}"></td>
            <td th:text="${QAs.getQaWriteTime()}"></td>
            <td>
                <span th:if="${QAs.qaStatus}">처리완료</span>
                <span th:unless="${QAs.qaStatus}">처리중</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>




</body>
</html>