<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{userPage/Layout_userPage}">

<th:block th:fragment="content">

<h1>My 예약 현황</h1>
    <a th:href="@{/user/userPage/{userNo}(userNo=${userNo})}">돌아가기</a><br>

    <table>
        <thead>
        <tr>
            <th>회원번호</th>
            <th>식당 번호</th>
            <th>예약 시간</th>
            <th>예약 인원</th>
            <th>요청사항</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${list}">
            <td th:text="${reservation.getUserNo()}"></td>
            <td th:text="${reservation.getRestNo()}"></td>
            <td th:text="${reservation.getRes_time()}"></td>
            <td th:text="${reservation.res_guest_count}"></td>
            <td th:text="${reservation.res_comment}"></td>
        </tr>
        </tbody>
    </table>

</th:block>
</html>