<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{userPage/Layout_userPage}">

<th:block th:fragment="content">

<h1>My 문의</h1>
<a th:href="@{/user/user_qa_form/{userNo}(userNo=${Num})}">문의 추가</a>

    <table>
        <thead>
        <tr>
            <th>문의 번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>문의 날짜</th>
            <th>문의 처리 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="QAs, iterStat : ${QA}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${QAs.getQaTitle()}"></td>
            <td th:text="${QAs.getQaContent()}"></td>
            <td th:text="${QAs.getQaWriteTime()}"></td>
            <td>
                <span th:if="${QAs.qaStatus}">처리완료</span>
                <span th:unless="${QAs.qaStatus}">처리중</span>
            </td>
        </tr>
        </tbody>
    </table>

</th:block>
</html>