<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/owner/viewRest}">
<div class="menu-container" th:fragment="menuContent" style="border:1px solid black">

<form id="addMenuForm" th:action="@{/owner/{restNo}/viewRest/addMenu(restNo=${restNo})}" method="post">
    <label>메뉴 이름 : </label><input type="text" name="menuName"><br/>
    <label>메뉴 가격 : </label><input type="number" name="menuPrice"><br/>
    <input type="button" value="등록" onclick="submitMenuForm()">
</form>

<script>
    function submitMenuForm() {
        if(confirm("등록하시겠습니까?")) {
            let form = document.getElementById("addMenuForm");
            form.submit();
        }
    }
</script>
</div>
</html>