<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>매뉴를 확인해보자 </title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>메뉴 이름</th>
        <th>가격</th>
        <!-- 다른 필드들에 대한 헤더 추가 -->
    </tr>
    </thead>
    <tbody>
    <!-- menuList를 순회하며 각 메뉴 정보 출력 -->
    <tr th:each="menu : ${list}">
        <!-- 메뉴 이름 출력 -->
        <td th:text="${menu.menuName}"></td>

        <!-- 가격 출력 -->
        <td th:text="${menu.menuPrice}"></td>

        <!-- 다른 필드들에 대한 출력 추가 -->
    </tr>
    </tbody>
</table>

</body>
</html>
