<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/find_rest_name}" method="get">
    <label for="keyword">Search: </label>
    <input type="text" id="keyword" name="keyword" th:value="${param.keyword}" />
    <button type="submit">Search</button>
</form>

<table th:if="${find_rest != null}">
    <ul th:each="list : ${find_rest}">
        <li th:text="${list.restNo}"></li>
        <li th:text="${list.restName}"></li>
        <li th:text="${list.restMenu}"></li>
        <li th:text="${list.restAddr}"></li>
    </ul>
</table>

</body>
</html>