<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <title th:include="~{/include/header::titleFragment}">title</title>
    <link th:href="@{/css/slider.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<style>
    #mainH {

        background: url("/img/mainbg.jpeg");
        background-size: cover;
        /*background-size: contain;*/
        /*background-size: 80% 80%;*/
        height: 589px;
    }

    html{
        /*scroll-behavior: smooth;*/

    }

</style>

<body>


<!--<header th:include="~{/include/header::headerFragment}">-->
<!--    head-->
<!--</header>-->

<div id="mainH">

    <div th:include="~{/include/header::headerFragment}">
        head
    </div>


    <div class="infoBox">
        <div class="infoBoxA">
<!--            <a href="/notice/noticeList">공지사항</a>-->
            <a href="/notice/noticeList">공지사항</a>
            <a>추천식당</a>
            <a href="/event/home">이벤트</a>
        </div>
    </div>

    <div>
        <form th:action="@{/search}" method="get" >
            <div class="searchBox"  >
                <div style="text-align: center; position: absolute; top: 400px; left: 29%" >
                    <input id="searchBar" type="search" placeholder="음식 또는 식당명 입력" aria-label="Search"
                           name="keyword" oninput=sendSearchQuery() th:value="${param.keyword}"
                           autocomplete="off" style="width: 800px; border: solid 1px black; border-radius: 10px; background: white">

                </div>

            </div>
        </form>


    </div>

</div>


<div id="content" th:include="~{/include/content::contentFragment}">
    head
</div>

<footer th:include="~{/include/footer::footerFragment}">
    footer
</footer>


<button id="scroll-top" onclick="scrollTopFunction()">Top</button>

<script>

    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let slides = document.getElementsByClassName("mySlides");

        slideIndex = Math.min(slides.length, (slideIndex + 1) % slides.length);

            for (let i = 0; i < slides.length; i++)
                slides[i].style.display = i === slideIndex ? "block" : "none";
        //
            setTimeout(showSlides, 2000); // 2초마다 이미지가 체인지됩니다
            setTimeout(slideSlide, 2000)
        }

    function slideSlide() {

        const listElements = document.querySelectorAll('.slideshow .background');

        let target = null
        listElements.forEach(function (element) {
            // 요소의 위치와 화면의 높이를 비교하여 화면에 보이는 요소인지 확인
            const elementTop = element.getBoundingClientRect().top;
            const elementBottom = element.getBoundingClientRect().bottom;
            const screenHeight = window.innerHeight || document.documentElement.clientHeight;
            const elementHeight = element.getBoundingClientRect().height + 48;

            // Element의 height가 화면을 가리면서 조건을 만족하지 않도록 함
            if (elementTop < screenHeight && elementBottom - elementHeight > 0 && null === target) {
                if (element.classList.contains("over")) {
                    // target = undefined;
                    return;
                }

                target = element;
            }
        });
        if (!target)
            return;

        moveToSlide(target, 1);
    }

    document.addEventListener('mouseover', function (event) {
        let slide = event.target.closest(".slideshow .background");
        if (slide) {
            let mouseLeaveHandler = function (event) {
                slide.classList.remove("over")
                this.removeEventListener('mouseleave', mouseLeaveHandler);
            }

            slide.classList.add("over");
            slide.addEventListener('mouseleave', mouseLeaveHandler);
        }

        let review = event.target.closest(".reviewT");
        if (review) {
            let tip = review.querySelector(".overtip");
            if (tip) {
                let mouseLeaveHandler = function (event) {
                    tip.style.opacity = "0";
                    review.removeEventListener('mouseleave', mouseLeaveHandler);
                }

                tip.style.opacity = "1";
                review.addEventListener('mouseleave', mouseLeaveHandler);
            }
        }
    });

    // <!--/*[+ function sleep(ms) { return new Promise(resolve => setTimeout(resolve, ms)); } +]*/-->

    async function moveToSlide(slider) {
        let slideIndex = (slider?.index);
        const index = 1;
        const slideWidth = 1008; //slider.clientWidth;
        const newPosition = -slideWidth * index;


        const SLIDE_SIZE = 4;
        const selectedDivs = Array.from(slider.children).slice(0, SLIDE_SIZE);
        if (1 === slideIndex)
            selectedDivs.forEach(div => slider.appendChild(div));

        slider.style.transition = "";
        slider.style.transform = "";
        await sleep(100)
        slider.style.transition = "transform 0.5s ease";
        slider.style.transform = `translateX(${newPosition}px)`;

        slider.index = index;

        // // transitionend 이벤트 핸들러 등록
        // slider.addEventListener("transitionend", function(event) {
        //     // transform transition 이 완료되면 콜백 함수 호출
        //     if (event.propertyName === "transform") {
        //         slideslideForward( slider );
        //     }
        //     // 핸들러는 한 번만 실행되도록 제거
        //     slider.removeEventListener("transitionend", this);
        // });
    }

    function slideslideForward(parentDiv) {
        // parentDiv.style.transition = "";
        // parentDiv.style.transform = "";
        // 앞에서 0~5개의 div를 선택합니다.
        // const selectedDivs = Array.from(parentDiv.children).slice(0, 5);
        // selectedDivs.forEach(div => parentDiv.appendChild(div));
    }

    // 페이지의 스크롤 상태가 변경될 때 실행되는 코드
    document.addEventListener('scroll', function () {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        let viewportHeight = window.innerHeight || document.documentElement.clientHeight;
        let totalHeight = document.body.scrollHeight;
        if (scrollTop + viewportHeight >= totalHeight) {
            // let dataTemplate = '<div class="slideshow"><div class="background">$content$</div></div>';
            // newDiv.innerHTML = dataTemplate.replace("$content$", doc.querySelector('body').innerHTML);
            fetch("/homeSlide2")
                .then(resp => resp.text())
                .then(data => {
                        let doc = new DOMParser().parseFromString(data, 'text/html');
                        const newDiv = document.createElement("div");
                        newDiv.innerHTML = doc.querySelector('body').innerHTML;
                        const targetDiv = document.querySelector("div.footer_height");
                        targetDiv.appendChild(newDiv);

                    document.querySelectorAll( "img[mysrc]" ).forEach( e=>io2.observe(e))
                    }
                );
        }
    });


</script>

<script>
    // "click!" 요소를 클릭했을 때 실행되는 함수
    document.getElementById("clickText")?.addEventListener("click", function () {
        // "click!" 요소 숨김 처리
        document.getElementById("clickText").style.display = "none";
        // "restName" 요소 표시
        document.getElementById("restName").style.display = "block";
    });

    document.addEventListener("DOMContentLoaded", function() {
        scrollFunction();
    });

    window.addEventListener("scroll", function() {
        scrollFunction();
    });

    function scrollFunction() {
        var scrollHeight = document.documentElement.scrollHeight;
        var clientHeight = document.documentElement.clientHeight;
        var scrollPosition = window.scrollY || window.pageYOffset || document.documentElement.scrollTop;

        if (scrollPosition > clientHeight / 10) {
            document.getElementById("scroll-top").style.display = "block";
        } else {
            document.getElementById("scroll-top").style.display = "none";
        }
    }


    function scrollTopFunction() {
        // document.body.scrollTop = 0; // For Safari
        // document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        window.scrollTo({
        top: 0,
        behavior: "smooth"
    })
    }

    document.querySelectorAll( "img[mysrc]" ).forEach( e=>io2.observe(e));


</script>


</body>
</html>
