<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <div style="border: 1px solid #ccc;">
        <h3>오늘 예약 목록</h3>
        <ul>
            <li>
                <span class="resNo">예약 번호</span>
                <span class="resTime">예약 시간</span>
                <span class="userId">예약자</span>
                <span class="questCount">예약 인원</span>
                <span class="tableType">룸 타입</span>
                <span class="comment">비고</span>
                <span class="status">예약 상태</span>
                <span class="result">이용완료/노쇼</span>
            </li>
            <th:block th:each="reserv : ${reserveList}" th:object="${reserv}">
                <th:block th:if="*{getDateType()!=10}">
                <li>
                    <span class="resNo" th:text="*{getRes_no()}"></span>
                    <span class="resTime" th:text="*{#temporals.format(getResTime(), 'yyyy/MM/dd HH:mm')}"></span>
                    <span class="userId" th:text="*{getUserNo().getUserId()}"></span>
                    <span class="questCount" th:text="*{getRes_guest_count()}"></span>
                    <span class="tableType" th:text="*{getRes_table_type() +' '+ getDateType()}"></span>
                    <span class="comment" th:text="*{getRes_comment()}"></span>
                    <span class="status" th:text="*{getRes_status()}"></span>
                    <span class="result">
                        <input type="button" value="수락" th:onclick="|location.href='@{/owner/resCompleted/{resNo}(resNo=*{getRes_no()})}'|">
                        <input type="button" value="거절" th:onclick="|cancel('*{getRes_no()}')|">
                        <input type="button" value="노쇼" th:onclick="|location.href='@{/owner/resNoShow/{resNo}(resNo=*{getRes_no()})}'|">
                    </span>
                </li>
                </th:block>
            </th:block>
        </ul>
    </div>

    <div style="border: 1px solid #ccc;">
        <h3>예약 대기 목록</h3>
        <ul>
            <li>
                <span class="resNo">예약 번호</span>
                <span class="resTime">예약 시간</span>
                <span class="userId">예약자</span>
                <span class="questCount">예약 인원</span>
                <span class="tableType">룸 타입</span>
                <span class="comment">비고</span>
                <span class="status">예약 상태</span>
                <span class="result">수락/거절</span>
            </li>
            <th:block th:each="reserv : ${reserveList}" th:object="${reserv}">
                <th:block th:if="*{getDateType()==1}">
                <li>
                    <span class="resNo" th:text="*{getRes_no()}"></span>
                    <span class="resTime" th:text="*{#temporals.format(getResTime(), 'yyyy/MM/dd HH:mm')}"></span>
                    <span class="userId" th:text="*{getUserNo().getUserId()}"></span>
                    <span class="questCount" th:text="*{getRes_guest_count()}"></span>
                    <span class="tableType" th:text="*{getRes_table_type()}"></span>
                    <span class="comment" th:text="*{getRes_comment()}"></span>
                    <span class="status" th:text="*{getRes_status()}"></span>
                    <span class="result">
                        <input type="button" value="수락" th:onclick="|location.href='@{/owner/resCompleted/{resNo}(resNo=*{getRes_no()})}'|">
                        <input type="button" value="거절" th:onclick="|cancel('*{getRes_no()}')|">
                        <input type="button" value="노쇼" th:onclick="|location.href='@{/owner/resNoShow/{resNo}(resNo=*{getRes_no()})}'|">
                    </span>
                </li>
                </th:block>
            </th:block>
        </ul>
    </div>

    <div style="border: 1px solid #ccc;">
        <h3>지난 예약 목록</h3>
        <ul>
            <li>
                <span class="resNo">예약 번호</span>
                <span class="resTime">예약 시간</span>
                <span class="userId">예약자</span>
                <span class="questCount">예약 인원</span>
                <span class="tableType">룸 타입</span>
                <span class="comment">비고</span>
                <span class="status">예약 상태</span>
                <span class="result">이용완료/노쇼</span>
            </li>
            <th:block th:each="i : ${#numbers.sequence(reserveList.size() - 1, 0, -1)}" th:object="${reserveList[i]}">
                <th:block th:if="*{getDateType()==-1}">
                <li>
                    <span class="resNo" th:text="*{getRes_no()}"></span>
                    <span class="resTime" th:text="*{#temporals.format(getResTime(), 'yyyy/MM/dd HH:mm')}"></span>
                    <span class="userId" th:text="*{getUserNo().getUserId()}"></span>
                    <span class="questCount" th:text="*{getRes_guest_count()}"></span>
                    <span class="tableType" th:text="*{getRes_table_type()}"></span>
                    <span class="comment" th:text="*{getRes_comment()}"></span>
                    <span class="status" th:text="*{getRes_status()}"></span>
                    <span class="result">
                        <input type="button" value="수락" th:onclick="|location.href='@{/owner/resCompleted/{resNo}(resNo=*{getRes_no()})}'|">
                        <input type="button" value="거절" th:onclick="|cancel('*{getRes_no()}')|">
                        <input type="button" value="노쇼" th:onclick="|location.href='@{/owner/resNoShow/{resNo}(resNo=*{getRes_no()})}'|">
                    </span>
                </li>
                </th:block>
                </th:block>
            </th:block>
        </ul>
    </div>
    <script>
        function cancel(resNo) {
            let reason = prompt("예약 거절 사유를 입력하시오")
            location.href = "/owner/resCancel/"+resNo+"/"+reason;
        }
    </script>
</th:block>
</html>