<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <div class="table-item">
        <ul>
            <li>작성자</li>
            <li>작성일</li>
            <li>평점</li>
            <li>내용</li>
        </ul>
    </div>

    <th:block th:each="review : ${reviewList}" th:object="${review}">
            <div class="table-item">
                <ul class="table-preview">
                    <li>[[*{getUserNo().getUserId()}]]</li>
                    <li>[[*{getRevWriteTime()}]]</li>
                    <li>[[*{getRevScore()}]]</li>
                    <li>[[*{getRevContent()}]]</li>
                </ul>
                <div class="table-container">
                    <div class="img_box">
                        <img class="preview" src="/img/no_image.png" alt="Review Image" th:attr="data-base64=${review.getBase64Image()}"></p>
                    </div>
                    <div class="formDiv">
                        <p><label>작성자</label><input type="text" th:value="*{getUserNo().getUserId()}" readonly></p>
                        <p><label>작성일</label><input type="text" th:value="*{getRevWriteTime()}" readonly></p>
                        <p><label>평점</label><input type="text" th:value="*{getRevScore()}" readonly></p>
                        <p><label>내용</label><textarea readonly rows="3">[[*{getRevContent()}]]</textarea></p>
                        <form id="reportReviewForm" th:action="@{/owner/review/report/{revNo}(revNo=*{getId()})}" method="post">
                            <p><label>신고 이유</label>
                                <select name="revStatus" th:value="*{getRevStatus()}">
                                    <option th:selected="*{getRevStatus() == 'NORMAL'}" value="NORMAL">전체</option>
                                    <option th:selected="*{getRevStatus() == 'INSULT'}" value="INSULT">욕설 및 비방</option>
                                    <option th:selected="*{getRevStatus() == 'FALSE_EXAGGERATION'}" value="FALSE_EXAGGERATION">허위 &#183; 과장</option>
                                    <option th:selected="*{getRevStatus() == 'WRONG_IMAGE'}" value="WRONG_IMAGE">잘못된 사진</option>
                                    <option th:selected="*{getRevStatus() == 'ADVERTISEMENT'}" value="ADVERTISEMENT">광고</option>
                                    <option th:selected="*{getRevStatus() == 'OTHER'}" value="OTHER">기타</option>
                                </select>
                                <input type="button" value="신고" onclick="reviewReportSubmit()">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
    </th:block>
    <script>
        window.onload = function() {
            document.querySelectorAll(".preview").forEach(function(img) {
                let base64Image = img.getAttribute('data-base64');
                if(base64Image !== null) {
                    img.src = 'data:image/jpeg;base64,' + base64Image
                }
            });
        };

        function reviewReportSubmit() {
            if (confirm("등록된 리뷰를 신고 처리하시겠습니까?")) {
                let form = document.getElementById("reportReviewForm");
                form.submit();
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            let tableItems = document.querySelectorAll('.table-preview');

            tableItems.forEach(function (tableItem) {
                tableItem.addEventListener('click', function () {
                    let tableContainer = this.nextElementSibling;

                    document.querySelectorAll('.table-container').forEach(function(container) {
                        if (container !== tableContainer && container.style.display === 'flex')
                            container.style.display = 'none'; // 다른 리스트를 닫음
                    });

                    if (tableContainer) {
                        if (tableContainer.style.display === 'flex') {
                            tableContainer.style.display = 'none';
                        } else {
                            tableContainer.style.display = 'flex';
                        }
                    }
                });
            });
        });

    </script>
</th:block>
</html>