<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <th:block th:object="${dinning}">
        <div class="formDiv">
        <form id="updateRestForm" th:action="@{/owner/updateRest}" method="post" enctype="multipart/form-data">
            <p><label>가게 이름 : </label><input type="text" name="restName" th:value="*{getRestName()}"></p>
            <p><label>가게 주소 : </label><input type="text" name="restAddr" th:value="*{getRestAddr()}"></p>
            <p><label>가게 번호 : </label><input type="text" name="restTel" th:value="*{getRestTel()}"></p>
            <p><label>가게 좌석수 : </label><input type="text" name="restSeat" th:value="*{getRestSeat()}"></p>
            <p><label>가게 이용시간 : </label><input type="text" name="restTime" th:value="*{getRestTime()}"></p>
            <p><label>가게 휴뮤일 : </label><input type="text" name="restOffDays" th:value="*{getRestOffDays()}"></p>
            <p><label>가게 주차장 : </label><input type="text" name="restParking" th:value="*{getRestParking()}"></p>
            <p><label>가게 업태 : </label><input type="text" name="restCategory" th:value="*{getRestCategory()}"></p>
            <p><label>가게 위도 : </label><input type="text" name="restLatitude" th:value="*{getRestLatitude()}"></p>
            <p><label>가게 경도 : </label><input type="text" name="restLongitude" th:value="*{getRestLongitude()}"></p>
            <p><label>가게 소개글 : </label><textarea name="restDesc" rows="5" th:value="*{getRestDescription()}"></textarea></p>
            <p><label>대표 이미지 : </label><input type="file" name="file"></p>

            <input type="hidden" th:value="${dinning.getRestNo()}" name="restNo" >
            <input type="button" value="수정" onclick="submitRestForm()">
            <input type="button" value="취소" th:onclick="|location.href='@{/owner/viewRest}'|">
        </form>
        </div>
    </th:block>

    <script>
        function submitRestForm() {
            if(confirm("수정하시겠습니까?")) {
                let form = document.getElementById("updateRestForm");
                form.submit();
            }
        }
    </script>
</th:block>
</html>