<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{owner/myPage_layout}">

<th:block th:fragment="content">
    <th:block th:object="${user}">
        <form id="updateUserForm" th:action="@{/owner/userUpdate}" method="post" enctype="multipart/form-data">
            <label>아이디</label><input type="text" name="userId" th:value="*{getUserId()}"><br/>
            <label>이름</label><input type="text" name="userName" th:value="*{getUserName()}"><br/>
            <label>비밀번호</label><input type="password" name="userPassword" th:value="*{getUserPassword()}"><br/>
            <label>이메일</label><input type="email" name="userEmail" th:value="*{getUserEmail()}"><br/>
            <label>전화번호</label><input type="tel" name="userTel" th:value="*{getUserTel()}"><br/>
            <label>프로필 사진</label><input type="file" name="file"><br/>
            <input type="hidden" th:value="*{getUserNo()}" name="userNo">
            <input type="hidden" th:value="*{getUserAuth()}" name="userAuth">
            <input type="button" value="수정" onclick="submitUserForm()">
            <input type="button" value="취소" th:onclick="|location.href='@{/owner/userInfo}'|">
        </form>
    </th:block>
    <script>
        function submitUserForm() {
            if(confirm("수정하시겠습니까?")) {
                let form = document.getElementById("updateUserForm");
                form.submit();
            }
        }
    </script>
</th:block>

</html>